.drop-shadow {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}
.hover-shadow {
  box-shadow: 8px 3px 3px rgba(0, 0, 0, 0.5);
}
.button-shadow {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}
.button-shadow:active {
  box-shadow: none;
}
.hover-link:hover {
  color: grey;
}
.container-shadow {
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5), -2px 0px 3px rgba(0, 0, 0, 0.5);
}
.review-box-mixin {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
  max-height: 360px;
  width: 45%;
  font-size: 1.3rem;
  margin: 2% 0;
  border-radius: 10px;
}
@media ( max-width: 500px ) {
  .review-box-mixin {
    width: 95%;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v13/TUZyzwprpvBS1izr_vOECuSa.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3aZQNVED7rKGKxtqIqX5EUDXx9.ttf) format('truetype');
}
h1,
h2 {
  font-family: 'Amatic SC', cursive;
}
body {
  background-color: linen;
}
.container {
  width: 800px;
  margin: 0 auto;
  background-image: url('../assets/background.svg');
  background-attachment: fixed;
  background-position: center;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5), -2px 0px 3px rgba(0, 0, 0, 0.5);
}
@media ( max-width: 800px ) {
  .container {
    width: 100%;
    background-size: 100px;
  }
}
.mainHeader nav {
  width: 100%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 2% 0;
  background-color: white;
}
@media ( max-width: 800px ) {
  .mainHeader nav {
    justify-content: space-evenly;
  }
}
.mainHeader nav a {
  text-decoration: none;
  color: black;
  margin: 0 2%;
  font-size: 1.5rem;
}
.mainHeader nav a:hover {
  color: grey;
}
.mainHeader nav a:first-child {
  margin-left: 3%;
}
@media ( max-width: 500px ) {
  .mainHeader nav a {
    font-size: 1.2rem;
  }
}
.mainHeader .cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/header.jpg');
  background-size: cover;
  background-position: center center;
}
.mainHeader .cta h1 {
  font-size: 6rem;
  text-align: center;
  margin: 5% 0 5%;
  padding: 2%;
  background-color: #89CC7C;
  border-radius: 10px;
}
@media ( max-width: 500px ) {
  .mainHeader .cta h1 {
    font-size: 4.2rem;
  }
}
.mainHeader .cta .header-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5%;
  width: 40%;
}
@media ( max-width: 500px ) {
  .mainHeader .cta .header-links {
    width: 60%;
  }
}
.mainHeader .cta .header-links .button {
  margin: 4% 0;
  text-align: center;
}
.mainHeader .cta .header-links .button img {
  max-width: 100%;
}
.mainHeader .cta .header-links .webapp {
  width: 100%;
  padding: 10% 5% 8%;
  border-radius: 20px;
  background-color: #487346;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}
.mainHeader .cta .header-links .webapp:active {
  box-shadow: none;
}
@media ( max-width: 500px ) {
  .mainHeader .cta .header-links .webapp {
    padding: 6% 5% 4%;
  }
}
.mainHeader .cta .header-links .app {
  width: 45%;
}
@media ( max-width: 500px ) {
  .mainHeader .cta .header-links .app {
    width: 70%;
    margin: 2% auto;
  }
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
footer p {
  margin: 0 0 1%;
}
footer p a {
  text-decoration: none;
  color: inherit;
}
footer p a:hover {
  color: grey;
}
footer nav {
  width: 25%;
  display: flex;
  justify-content: space-around;
}
footer nav a {
  white-space: nowrap;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin: 3% 10%;
}
footer nav a:hover {
  color: grey;
}
.description {
  padding: 4%;
  width: 95%;
  margin: 5% auto;
  border-radius: 10px;
  background-color: white;
  line-height: 1.5;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}
.description h2 {
  font-size: 3rem;
}
@media ( max-width: 500px ) {
  .description h2 {
    font-size: 2.5rem;
  }
}
.description .copy {
  font-size: 1.3rem;
  margin-bottom: 4%;
}
.description ul {
  list-style-position: inside;
}
.description ul li {
  font-size: 1.3rem;
}
.testimonials {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.testimonials .review-image {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
  max-height: 360px;
  width: 45%;
  font-size: 1.3rem;
  margin: 2% 0;
  border-radius: 10px;
}
@media ( max-width: 500px ) {
  .testimonials .review-image {
    width: 95%;
  }
}
.testimonials .review-image img {
  max-width: 100%;
  border-radius: 10px;
}
@media ( max-width: 500px ) {
  .testimonials .review-image {
    display: none;
  }
}
.testimonials .review {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
  max-height: 360px;
  width: 45%;
  font-size: 1.3rem;
  margin: 2% 0;
  border-radius: 10px;
  background-color: white;
  padding: 2% 2%;
}
@media ( max-width: 500px ) {
  .testimonials .review {
    width: 95%;
  }
}
.testimonials .review p {
  line-height: 1.5;
}
.testimonials .review .rating {
  width: 100%;
  text-align: center;
  margin: 5% auto 0;
  height: 40px;
}
@media ( max-width: 500px ) {
  .testimonials .review .rating {
    margin: 5% auto 2%;
  }
}
.testimonials .review .rating i {
  font-size: 2rem;
  color: orange;
}
.testimonials .review .reviewer {
  display: flex;
  align-items: center;
}
.testimonials .review .reviewer h2 {
  font-size: 2.4rem;
  margin-bottom: 2%;
}
.testimonials .review .reviewer img {
  max-width: 10%;
  border-radius: 50%;
  margin-right: 3%;
  padding-bottom: 2%;
}
.container .basic {
  width: 70%;
  margin: 5% auto;
  padding: 8% 5%;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 800;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}
.container .features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media ( max-width: 500px ) {
  .container .features {
    align-items: center;
  }
}
.container .features .feature {
  width: 65%;
  margin: 5% 5%;
  padding: 5%;
  font-size: 1.3rem;
  background-color: white;
  border-radius: 10px;
  line-height: 1.5;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}
.container .features .feature:hover {
  box-shadow: 8px 3px 3px rgba(0, 0, 0, 0.5);
  margin-right: 6%;
  margin-left: 4%;
}
@media ( max-width: 500px ) {
  .container .features .feature {
    margin: 5% 0;
  }
}
.container .features .feature:nth-child(even) {
  align-self: flex-end;
}
@media ( max-width: 500px ) {
  .container .features .feature:nth-child(even) {
    align-self: center;
  }
}
.container .features .feature h2 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}
@media ( max-width: 500px ) {
  .container .features .feature {
    width: 95%;
    padding: 6% 4%;
  }
}
.container .contactForm {
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 15% auto;
  box-shadow: inset 4px 1px 3px 4px grey;
  border-radius: 3px;
  background: #89CC7C;
}
@media ( max-width: 800px ) {
  .container .contactForm {
    margin-bottom: 44%;
  }
}
@media ( max-width: 500px ) {
  .container .contactForm {
    width: 80%;
    margin: 35% auto;
  }
}
.container .contactForm form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.container .contactForm form input[type="text"],
.container .contactForm form input[type="email"] {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #dedede;
  background-color: #B6CC76;
  color: white;
}
.container .contactForm form #messageArea {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #dedede;
  background-color: #B6CC76;
  color: white;
}
.container .contactForm form input[type="submit"] {
  background-color: #4285f4;
  color: white;
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container .teamHead {
  width: 60%;
  margin: 5% auto;
  padding: 8% 5%;
  font-size: 2.2rem;
  text-align: center;
  color: white;
}
.container .members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .members .member {
  width: 45%;
  margin: 5% 0;
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20%;
  background-color: #487346;
  text-align: center;
  color: white;
}
.container .members .member h2 {
  font-size: 2.4rem;
  text-align: center;
  color: white;
}
.container .members .member img {
  width: 50%;
  border-radius: 50%;
}
.container .members .member a img {
  width: 15%;
}
@media ( max-width: 500px ) {
  .container .members .member {
    width: 95%;
    padding: 6% 4%;
  }
}
