.drop-shadow {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}
.drop-shadow:active {
  box-shadow: none;
}
.review-box-mixin {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
  max-height: 360px;
  width: 45%;
  font-size: 1.2rem;
  margin: 2% 0;
  border-radius: 10px;
}
.review-box-mixin:active {
  box-shadow: none;
}
@media ( max-width: 500px ) {
  .review-box-mixin {
    width: 95%;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
body {
  background-color: linen;
}
.container {
  width: 800px;
  margin: 0 auto;
  background-image: url('../assets/background.svg');
  background-attachment: fixed;
  background-position: center;
}
@media ( max-width: 800px ) {
  .container {
    width: 100%;
  }
}
.mainHeader nav {
  width: 100%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 2% 0;
  border: 1px black solid;
}
@media ( max-width: 800px ) {
  .mainHeader nav {
    justify-content: space-evenly;
  }
}
.mainHeader nav a {
  margin: 0 2%;
}
.mainHeader .cta {
  width: 100%;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/header.jpg');
  background-size: cover;
  background-position: center center;
}
.mainHeader .cta h1 {
  font-size: 3rem;
  text-align: center;
  margin: 5% 0 5%;
  padding: 2%;
  background-color: white;
  border-radius: 10px;
}
@media ( max-width: 500px ) {
  .mainHeader .cta h1 {
    font-size: 2rem;
  }
}
.mainHeader .cta .header-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5%;
  width: 40%;
}
.mainHeader .cta .header-links .button {
  margin: 4% 0;
  text-align: center;
}
.mainHeader .cta .header-links .button img {
  max-width: 100%;
}
.mainHeader .cta .header-links .webapp {
  width: 100%;
  padding: 10% 5%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}
.mainHeader .cta .header-links .webapp:active {
  box-shadow: none;
}
.mainHeader .cta .header-links .app {
  width: 45%;
}
@media ( max-width: 500px ) {
  .mainHeader .cta .header-links .app {
    width: 70%;
    margin: 2% auto;
  }
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}
footer nav {
  width: 25%;
  display: flex;
  justify-content: space-around;
}
.description {
  padding: 4%;
  width: 95%;
  margin: 5% auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}
.description:active {
  box-shadow: none;
}
.description h2 {
  font-size: 1.8rem;
}
.description p {
  font-size: 1.2rem;
}
.description ul {
  list-style-position: inside;
}
.description ul li {
  font-size: 1.2rem;
}
.testimonials {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.testimonials .review-image {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
  max-height: 360px;
  width: 45%;
  font-size: 1.2rem;
  margin: 2% 0;
  border-radius: 10px;
}
.testimonials .review-image:active {
  box-shadow: none;
}
@media ( max-width: 500px ) {
  .testimonials .review-image {
    width: 95%;
  }
}
.testimonials .review-image img {
  max-width: 100%;
  border-radius: 10px;
}
@media ( max-width: 500px ) {
  .testimonials .review-image {
    display: none;
  }
}
.testimonials .review {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
  max-height: 360px;
  width: 45%;
  font-size: 1.2rem;
  margin: 2% 0;
  border-radius: 10px;
  background-color: white;
  padding: 2% 2%;
}
.testimonials .review:active {
  box-shadow: none;
}
@media ( max-width: 500px ) {
  .testimonials .review {
    width: 95%;
  }
}
.testimonials .review h2 {
  font-size: 1.6rem;
  margin-bottom: 2%;
}
.container .basic {
  width: 60%;
  margin: 5% auto;
  border: 1px black solid;
  padding: 8% 5%;
  font-size: 1.4rem;
}
.container .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .features .feature {
  width: 45%;
  margin: 5% 0;
  padding: 2%;
  border: 1px solid black;
}
.container .features .feature h2 {
  font-size: 1.6rem;
  text-align: center;
}
@media ( max-width: 500px ) {
  .container .features .feature {
    width: 95%;
    padding: 6% 4%;
  }
}
.container .contactForm {
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 15% auto;
  border: 1px solid black;
  border-radius: 3px;
}
@media ( max-width: 800px ) {
  .container .contactForm {
    margin-bottom: 44%;
  }
}
@media ( max-width: 500px ) {
  .container .contactForm {
    width: 80%;
    margin: 35% auto;
  }
}
.container .contactForm form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.container .contactForm form input[type="text"],
.container .contactForm form input[type="email"] {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #dedede;
}
.container .contactForm form input[type="submit"] {
  background-color: #4285f4;
  color: white;
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}
