.container{
    .contactForm{
        padding: 5% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-left: 26%;
        margin-top: 5%;
        border: 1px solid black;
        border-radius: 3px;
        form{
            display: flex;
            flex-direction: column;
            width: 50%;
            input[type="text"], input[type="email"] {
                font-size: 14px;
                margin: 10px 0;
                border: none;
                border-bottom: 1px solid #dedede;
            }
            input[type="submit"] {
                background-color: #4285f4;
                color: white;
                height: 36px;
                width: 88px;
                border: none;
                border-radius: 3px;
                font-weight: 500;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        } 
    }
    footer {
        margin-top: 20%;
    }
}
