.description {
    padding: 4%;
    h2 {
        font-size: @section-header;
    }
    p {
        font-size: @main-text;
    }
    ul {
        list-style-position: inside;
        li {
            font-size: @main-text;
        }
    }
    // Testing values -- Remove before project done--
    border: red solid 1px
}

.testimonials {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    div {
        width: 45%;
        font-size: @main-text;
        padding: 5% 0;
        margin: 2% 0;
        border: 1px red solid;
    }
}