.description {
    padding: 4%;
    width: 95%;
    margin: 5% auto;
    border-radius: 10px;
    background-color: @box-background;
    .drop-shadow();
    h2 {
        font-size: @section-header;
    }
    .copy {
        font-size: @main-text;
        margin-bottom: 3%;
    }
    ul {
        list-style-position: inside;
        li {
            font-size: @main-text;
        }
    }
}

.testimonials {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .review-image {
        .review-box-mixin();
        img {
            max-width: 100%;
            border-radius: 10px;
        }
        @media @mobile  {
            display: none;           
        }
    }
    .review {
        .review-box-mixin();
        background-color: @box-background;
        padding: 2% 2%;
        p {
            line-height: 1.5;
        }
        .rating {
            width: 100%;
            text-align: center;
            margin: 5% auto 0;
            height: 40px;
            @media @mobile {
                margin: 5% auto 2%;
            }
            i { 
                font-size: @rating-text;
                color: @rating-color;
            }
        }
        .reviewer{
            display: flex;
            align-items: center;
            h2 {
                font-size: @box-header;
                margin-bottom: 2%;
            }
            img {
                max-width: 10%;
                border-radius: 50%;
                margin-right: 3%;
                padding-bottom: 2%;
            }
        }
    }
}