.button-shadow {
    box-shadow: 1px 3px 3px grey;
    &:active {
        box-shadow: none;
    }
}

.review-box-mixin {
    width: 45%;
    font-size: @main-text;
    margin: 2% 0;
    border: 1px red solid;
    border-radius: 10px;
    @media @mobile {
        width: 95%
    }
}