// Font variables

@nav-text: 1.5rem;
@section-header: 1.8rem;
@main-text: 1.2rem;
@big-text: 1.4rem;
@box-header: 1.6rem;
@button-text: 2rem;

// Color variables

@body-background: linen;
@title-background: #89CC7C;
@button-background: #487346;
@button-text-color: white;
@box-background: white;
@text-color: black;
@shadow-color: rgba(0, 0, 0, 0.5);

// Colors in the container background are #487346 #B6CC76 #89CC7C

// Breakpoint variables

@mobile: ~'( max-width: 500px )';
@tablet: ~'( max-width: 800px )';